.radio-group {}

.radio {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.radio input {
    display: none;
}

.radio .radio-icon {
    height: 32px;
    line-height: 32px;
    padding-left: 28px;
    display: inline-block;
    position: relative;
    color: #666;
}

.radio .radio-icon:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #666;
    border-radius: 50%;
    left: 2px;
    top: 6px;
}

.radio .radio-icon:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffa800;
    border-radius: 50%;
    left: 7px;
    top: 11px;
    display: none;
}

.radio:hover .radio-icon {
    color: #ffba00;
}

.radio:hover .radio-icon:before {
    border-color: #ffba00;
}

.radio input:checked+.radio-icon {
    color: #ffa800;
}

.radio input:checked+.radio-icon:before {
    border-color: #ffa800;
}

.radio input:checked+.radio-icon:after {
    display: block;
}
